HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Directorios de compilación
/target/
build/

# Archivos de configuración de herramientas de desarrollo
/.idea/
/.classpath
/.project
/.settings/
/*.iml

# Archivos específicos de sistemas operativos
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Configuración de Maven
.mvn/
/.mvn/wrapper/maven-wrapper.jar

# Archivos de prueba de salida y resultados
/test-output/

# Credenciales y configuraciones sensibles
/application.properties
/application.yml
*.env
src/main/resources/application.properties

# Otros archivos sensibles
*.key
*.pem
*.crt
